body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 1rem 0px 0px  0px;
}

h2 {
    margin-top: 20px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}

form button {
    padding: 10px 20px;
}
/* styles.css */

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
    text-align: center;
    margin-bottom: 50px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-text {
    position: relative;
    z-index: 2;
    font-size: 48px;
    margin: 0;
}
